html {
    background-color: #f1f5f9;
    font-family: sans-serif;
  }
  
  body {
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.5;
    background-color: #ffd57b4b;
  }
  
  * {
    box-sizing: border-box;
  }
  
  h1 {
    color: hsl(300, 100%, 25%);
    margin: 1rem 0;
    font-size: 2.5rem;
  }
 