---

---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Casariana Dev</title>
	</head>
	<body>
        <a href="/">Inicio</a>
        <a href="/about/">Sobre mi</a>
        <a href="/blog/">Blog</a>
		<h1>Casariana Dev</h1>
        <p>Repensar a cerca de las habilidades que usamos para ser productivos es el factor común en la actualidad; pues muchos saberes están siendo relegados por el crecimiento exponencial de la tecnología.</p>
        <p>El analisis y desarrollo de software, habilidades que, bajo mi percepción, podrán dar continuidad a la evolución de la tecnologia manejada por los humanos ante la oleada del control de las actividades por parte de las IAs que hoy nos inundan y desplazan la actividad humana sobre sus propios quehaceres</p>
        <h2>Habilidades Duras</h2>
        <ul>
            <li>Capacidad de observación y analisis</li>
            <li>Proceso de aprendizaje en lenguajes como <span>Javascript</span></li>
            <li>Proceso de aprendizaje en herramientas back como <span>NodeJS</span></li>
            <li>Proceso de aprendizaje en frameworks front como <span>Astro</span> y <span>Tailwind-css</span></li>
            
        </ul>
        <h2>Habilidades Blandas</h2>
        <p>En la actualidad la productividad marca gran diferencia en los intervinientes de la economía, y en muchos casos podemos diferenciar a estos intervinientes a través de las habilidades blandas pues dan a los equipos de trabajo y usuarios finales un plus de servicio y apoyo que termina determinando motivos de eleccón y blablabla</p>
        <ul>
            <li>Comunicación efectiva</li>
            <li>Liderazgo</li>
            <li>Pensamiento crítico</li>
            <li>Capacidad de adaptación</li>
            <li>Empatia</li>
            <li>Ética</li>
        </ul>
	</body>
</html>
