---
import '../styles/global.css';
import Navigation from "../components/navigation.astro"
const pageTitle = "Mi blog de Astro aprendizaje"
---
<html lang="es">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Navigation/>

    <h1>{pageTitle}</h1>
    <p>Aquí es donde publicaré acerca de mi viaje aprendiendo Astro./p>
    <ul>
      <li><a href="/posts/post-1/">Publicación 1</a></li>
      <li><a href="/posts/post-2/">Publicación 2</a></li>
      <li><a href="/posts/post-3/">Publicación 3</a></li>
    </ul>
  </body>
</html>