---
import '../styles/global.css';
import Header from '../components/header.astro';
import Footer from '../components/footer.astro';
const pageTitle = "Casariana dev"
---
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Header/>
    <h1>{pageTitle}</h1>
    <h2>... ¡y mi nuevo sitio Astro!</h2>

    <p>Estoy trabajando en el tutorial introductorio de Astro. Esta es la primera página de mi sitio web, ¡y es la primera que he construido yo mismo!</p>

    <p>Este sitio se irá actualizando a medida que vaya completando más partes del tutorial, ¡así que no dejes de visitarlo para ver cómo va mi viaje!</p>
    <Footer/>
    <script>
      import "../scripts/menu.js"
    </script>
  </body>
</html>
